.about-info{
    margin: 50px;
}
.about-info h3{
    color: navy;
    text-transform: uppercase;
    font-size: 22px;
    margin: 10px 0;
}
.about-info p{
    text-align: justify;
}
.future-info{
    margin: 50px 200px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.future-info img{
    width: 100%;
    height: 250px;
    margin: 0;
    transition: 0.6s ease;
    cursor: pointer;
}
.future-info img:hover{
    opacity: 0.3;
}