.footer-container{
    background: #092746;
    margin: 0;
}
.footer-body{
    padding: 50px;
}
.campus-info{
    text-align: center;
    margin: 20px 20px 50px 20px;
}
.campus-info a{
    text-decoration: none;
    color: #aece61;
    margin: 15px;
    padding: 10px 18px;
    border-radius: 35px;
    font-weight: 700;
    border: 2px solid #aece61;
    font-size: 15px;;
    transition: all 0.6s ease;
}
.campus-info a:hover{
    background-color: #aece61;
    color: #061e37;
    font-weight: 700;
}
.contact-area{
    margin: 70px 0 50px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    text-align: center;
}
.contact-info{
    border: 3px solid #93ba3a;
    padding: 10px;
    color: #03182e;
    font-weight: 600;
    background-color: #aece61;
    width: 80%;
    border-radius: 5px;
}
.contact-info p{
    background-color: #93ba3a;
    border-radius: 5px;
    padding: 5px;
}
.location-map iframe{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 3px solid #03182e;
    width: 80%;
}
.social-icon{
    text-align: center;
    color: #aece61;
}
.social-icon i{
    margin: 15px;
    font-size: 18px;
    border: 2px solid #aece61;
    padding: 10px 10px;
    border-radius: 25px;
    font-weight: 600;
    transition: 0.6s ease;
}
.social-icon :hover{
    background-color: #aece61;
    color: #061e37;
    font-weight: 600;
}
marquee{
    color: lightgray;
    border-top: 2px solid gray;
    padding: 10px 0;
    letter-spacing: 0.3rem;
}